* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  display: flex;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  background-color: rgba(70,70,71,0.89);
}

.main_page {
  background-color:rgba(248,248,249,0.89);
  margin: 20px;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.menu_in_popup {
  margin: 20px;
}

.title {
  padding: 20px;
  font-size: 32px;
  font-weight: bold;
}

.search {
  width: 75%;
  padding: 5px;
  border-radius: 5px;
  background-color: rgba(129, 129, 130, 0.71);
  margin: 15px;
}

.search:hover {
  background-color: rgba(215, 215, 215, 0.5);
}

.buttons {
  display: flex;
  margin-left: 50%;
}

button {
  padding: 5px;
  margin: 10px;
  background-color: rgb(195, 195, 196);
  border-radius: 5px;
}

button:hover {
  background-color: #6ac2db;
  opacity: 0.8;
}

.area_contact {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.area_contactDelete {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.area_contact:hover {
  background-color: #bde5f6;
  border-radius: 7px;
}

.area_contactDelete:hover {
  background-color: #bde5f6;
  border-radius: 7px;
}

span {
  padding: 5px;
  margin: 5px;
}

.contact {
  font-size: 26px;
}

.overlay {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(101,101,102,0.89);
  opacity: 0.8;
  z-index: 100;
}

.overlay2 {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(101,101,102,0.89);
  opacity: 0.8;
  z-index: 200;
}

.empty_phoneBook {
  display: none;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 400px;
  background: #fff;
  padding: 30px;
  margin-top: 10%;
  z-index: 200;
  border-radius: 7px;
  box-shadow: 0px 3px 5px 0px rgba(96, 174, 196, 1), 0px 9px 10px rgba(0, 0, 0, 0.7);
  color: #020242;
  font-size: 20px;
  font-weight: bold;
}

.popup_addContact {
  display: none;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 30%;
  background: #fff;
  margin-top: 10%;
  z-index: 200;
  border-radius: 7px;
  box-shadow: 0px 3px 5px 0px rgba(96, 174, 196, 1), 0px 9px 10px rgba(0, 0, 0, 0.7);
}

.addContact {
  margin: 30px;
  padding: 10px;
  justify-content: center;
  align-items: center;
}

.form_box {
  margin: 20px;
}

.form_box input {
  width: auto;
}

i {
  margin-right: -5px;
  margin-left: 10px;
}

.addContact input{
  display: flex;
  border-radius: 7px;
  padding: 10px;
  width: auto;
  background-color: rgba(215,215,216,0.89);
}

.error_add {
  display: none;
  font-style: italic;
  font-size: 14px;
  margin-top: 2px;
  padding-top: 2px;
  color: rgba(56,56,57,0.89);
}

.create_contact {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.popup_deleteContact {
  display: none;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 65%;
  background: #fff;
  margin-top: 10%;
  z-index: 200;
  border-radius: 7px;
  box-shadow: 0px 3px 5px 0px rgba(96, 174, 196, 1), 0px 9px 10px rgba(0, 0, 0, 0.7);
}

.search popup{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.popup_confirmDelete {
  display: none;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 30%;
  background: rgb(182, 231, 248);
  margin-top: 5%;
  z-index: 200;
  border-radius: 7px;
  box-shadow: 0px 3px 5px 0px rgba(96, 174, 196, 1), 0px 9px 10px rgba(0, 0, 0, 0.7);
}

.popup_confirmDelete i {
  padding: 5px
}

#display_contact_to_delete {
  margin-top: 25px;
  margin-left: 20px;
  padding: 20px;
  font-size: 25px;
  font-weight: bold;

}

#write_contact_to_delete {
  padding: 7px;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: lighter;
  color: rgba(23,100,120,0.89);
}

#text {
  padding: 15px;
}

#confirm {
  margin: 10px;
  padding: 15px;
  background-color: rgb(229, 229, 229);
  opacity: 0.95;
  border-radius: 5px;
  width: auto;
}

.error {
  font-size: 16px;
  color: rgb(108, 5, 15);
  font-weight: lighter;
  font-style: italic;
  margin-left: 30px;
}

.popup_edit{
  display: none;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 45%;
  background: #fff;
  margin-top: 10%;
  z-index: 200;
  border-radius: 7px;
  box-shadow: 0px 3px 5px 0px rgba(96, 174, 196, 1), 0px 9px 10px rgba(0, 0, 0, 0.7);
}

.editContact {
  padding: 20px;
}

.form_box {
  margin-bottom: 20px;
  font-size: 22px;
}

.form_box label {
  display: block;
  margin-bottom: 5px;
}

.form_box input {
  padding: 10px;
  width: 100%;
  background-color: rgba(215,215,216,0.89);
  border-radius: 5px;
}

.contact {
  margin: 20px;
  padding: 10px;
}

.buttons {
  padding: 20px;
  margin-left: 10px;
}

.save
.back
.edit {
  padding: 15px;
}

.save{
  display: none;
}
