* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  background-color: rgba(70,70,71,0.89);
}

.main_page {
  background-color:rgba(248,248,249,0.89);
  margin: 20px;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.menu_in_popup {
  margin: 20px;
}

.title {
  padding: 20px;
  font-size: 32px;
  font-weight: bold;
}

.search {
  width: 75%;
  padding: 5px;
  border-radius: 5px;
  background-color: rgba(129, 129, 130, 0.71);
  margin: 15px;
}

.search:hover {
  background-color: rgba(215, 215, 215, 0.5);
}

button {
  padding: 5px;
  margin: 10px;
  background-color: rgb(195, 195, 196);
  border-radius: 5px;
}

button:hover {
  background-color: #6ac2db;
  opacity: 0.8;
}

span {
  padding: 5px;
  margin: 5px;
}

.overlay {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(101,101,102,0.89);
  opacity: 0.8;
  z-index: 100;
}

.overlaySecond {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(101,101,102,0.89);
  opacity: 0.8;
  z-index: 200;
}

i {
  margin-right: -5px;
  margin-left: 10px;
}

#text {
  padding: 15px;
}

#confirm {
  margin: 10px;
  padding: 15px;
  background-color: rgb(229, 229, 229);
  opacity: 0.95;
  border-radius: 5px;
  width: auto;
}

.form_box {
  margin-bottom: 20px;
  font-size: 22px;
}

.form_box label {
  display: block;
  margin-bottom: 5px;
}

.form_box input {
  padding: 10px;
  width: 100%;
  background-color: rgba(215,215,216,0.89);
  border-radius: 5px;
}

.contact {
  margin: 20px;
  padding: 10px;
  font-size: 26px;
}

.buttons {
  display: flex;
  padding: 20px;
  margin-left: 10px;
}

.save
.back
.edit {
  padding: 15px;
}

.save{
  display: none;
}
